<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/3_week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#작업형1

데이터출처 : https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv

(참고, 데이터 수정)

데이터 설명 : 핸드폰 가격예측 (price_range 컬럼 0(저렴) ~ 3(매우비쌈) 범위) 2000 rows x 21 columns

Data url : https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv

##Q1. price_range의 각 value를 그룹핑하여 각 그룹의 n_cores의 빈도가 가장 높은 value와 그 빈도수를 구하여라

In [38]:
import pandas as pd 
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")

df.groupby(["price_range"])["n_cores"].value_counts().sort_values(0).groupby(level=0).tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
Name: n_cores, dtype: int64

In [39]:
df[["price_range","n_cores"]].groupby(["price_range","n_cores"]).size().sort_values(0).groupby(level=0).tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

## Q2. price_range 값이 3인 그룹에서 상관관계가 2번째로 높은 두 컬럼과 그 상관계수를 구하여라

In [56]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")

corr = df.loc[df["price_range"] == 3].corr()

corr = corr.unstack().sort_values(ascending=False)

corr.loc[corr !=1]

#pc fc 0.635166

fc           pc              0.635166
pc           fc              0.635166
four_g       three_g         0.604218
three_g      four_g          0.604218
px_height    px_width        0.538207
                               ...
price_range  talk_time            NaN
             three_g              NaN
             touch_screen         NaN
             wifi                 NaN
             price_range          NaN
Length: 421, dtype: float64

#작업형2

데이터 출처 : https://www.kaggle.com/iabhishekofficial/mobile-price-classification?select=train.csv

데이터 설명 : 핸드폰 가격예측 (price_range 칼럼 0(저렴) ~ 3(매우비쌈) 범위)

문제타입 : 분류유형
평가지표 : accuracy

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/test.csv

In [59]:
trainData = "https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv"
testData = "https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/test.csv"

import pandas as pd

train  = pd.read_csv(trainData)
test = pd.read_csv(testData)

train

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [60]:
test

       id  battery_power  blue  ...  three_g  touch_screen  wifi
0       1           1043     1  ...        0             1     0
1       2            841     1  ...        1             0     0
2       3           1807     1  ...        0             1     1
3       4           1546     0  ...        1             1     0
4       5           1434     0  ...        1             0     1
..    ...            ...   ...  ...      ...           ...   ...
995   996           1700     1  ...        1             1     0
996   997            609     0  ...        0             1     1
997   998           1185     0  ...        1             0     0
998   999           1533     1  ...        0             1     0
999  1000           1270     1  ...        1             0     1

[1000 rows x 21 columns]

In [67]:
#타겟데이터 분리 price_range

X = train.drop(["price_range"], axis=1)
y = train["price_range"]

X

      battery_power  blue  clock_speed  ...  three_g  touch_screen  wifi
0               842     0          2.2  ...        0             0     1
1              1021     1          0.5  ...        1             1     0
2               563     1          0.5  ...        1             1     0
3               615     1          2.5  ...        1             0     0
4              1821     1          1.2  ...        1             1     0
...             ...   ...          ...  ...      ...           ...   ...
1995            794     1          0.5  ...        1             1     0
1996           1965     1          2.6  ...        1             1     1
1997           1911     0          0.9  ...        1             1     0
1998           1512     0          0.9  ...        1             1     1
1999            510     1          2.0  ...        1             1     1

[2000 rows x 20 columns]

In [64]:
#NULL 체크
print(X.isnull().sum())
#데이터 형태 확인
X.info()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
dtypes: float64(2), int64(18)
memory usage: 312.6 KB

In [65]:
#학습데이터, 검증데이터 분리
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.3, stratify = y)

#모델링
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()

rf.fit(X_train, y_train)

y_pred = rf.predict(X_test)

#평가
 
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, y_pred))

0.87

In [74]:
#제출
#test 데이터에는 id값이 포함되어 있으니 id 제거

#test =test.drop("id", axis=1)
pred = rf.predict(test)

submission = {"price_range" : pred}
submission = pd.DataFrame(data=submission,)

submission.to_csv("수험번호.csv", index= False)